{% doc %}
  Cart Drawer Empty State Component

  Renders the empty cart state with login prompt and optional collection display.

  @example
  {% render 'cart-drawer-empty' %}
{% enddoc %}

<div class="p-10 text-center">
  <h2 class="text-2xl font-medium text-neutral-900">Tvoja košarica je prazna</h2>
  <p class="text-neutral-600">Pregledaj naše kolekcije i dodaj nešto posebno.</p>
  {% comment %} <div data-rebuy-id="260261"></div> {% endcomment %}

  test

  <a href="{{ routes.all_products_collection_url }}" class="button button-neutral w-full"> Nastavi kupovati </a>
</div>
