{% doc %}
  Cart Drawer Header Component

  Renders the header section of the cart drawer with title and close button.

  @example
  {% render 'cart-drawer-header' %}
{% enddoc %}

<div class="flex flex-row items-center w-full justify-between py-2">
  <p class="text-sm">Cart</p>
  <button
    type="button"
    onclick="this.closest('cart-drawer').close()"
    aria-label="Close"
  >
    <span class="svg-wrapper">
      {{- 'icon-minus.svg' | inline_asset_content -}}
    </span>
  </button>
</div>
