{% liquid
  assign video_media = video.value | default: video
%}

{% if video_media %}
  <testimonial-video-player class="testimonial-video-player group">
    <button
      type="button"
      class="testimonial-video-player__trigger"
      data-video-trigger
      aria-label="{{ 'sections.testimonial_grid.play_video' | t }}"
    >
      <div class="testimonial-grid__media testimonial-grid__media--full-width" data-inline-video>
        {{
          video_media
          | video_tag:
            autoplay: true,
            muted: true,
            loop: true,
            controls: false,
            playsinline: true,
            class: 'testimonial-grid__video'
        }}
        <span
          class="absolute inset-0 bg-black/20 w-full h-full flex items-center justify-center group-data-active:hidden"
          aria-hidden="true"
          data-play-overlay
        >
          <span class="size-10 flex items-center justify-center bg-black/80 text-white rounded-full">
            {{ 'icon-play.svg' | inline_asset_content }}
          </span>
        </span>
        <span
          class="absolute top-2 right-2 items-center justify-center hidden group-data-active:flex"
          aria-hidden="true"
          data-pause-overlay
        >
          <span class="size-10 flex items-center justify-center bg-black/80 text-white rounded-full">
            {{ 'icon-pause.svg' | inline_asset_content }}
          </span>
        </span>
      </div>
    </button>
  </testimonial-video-player>
{% endif %}
