{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

<div class="container max-w-4xl py-16 text-center">
  <h1 class="mb-4">{{ section.settings.title }}</h1>

  <p class="mb-8 text-lg">{{ section.settings.body }}</p>

  <a href="{{ routes.all_products_collection_url }}" class="button button-boost"> Back to shopping </a>
</div>

{% schema %}
{
  "name": "Not found",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body text",
      "default": "Page not found."
    }
  ]
}
{% endschema %}
