{% comment %}
  Dobrodošli u Shopify razvoj teme!
{% endcomment %}

<div class="welcome full-width">
  <div class="welcome-content">
    <div>
      <h1 class="">Pozdrav, svijete!</h1>

      <p class="welcome-description max-w-[80ch] leading-normal mt-6">
        Tema Skeleton je minimalna, pažljivo strukturirana Shopify tema osmišljena da vam pomogne brzo započeti.
        Dizajnirana je s naglaskom na modularnost, održavanje i Shopify najbolje prakse.
      </p>

      <p class="welcome-description max-w-[80ch] leading-normal mt-6">
        Teme oblikuju iskustvo internetske trgovine za trgovce i njihove kupce. Izrađujte brze i fleksibilne teme u
        velikom opsegu koristeći Liquid, Shopify jezik predložaka, zajedno s HTML-om, CSS-om, JavaScriptom i JSON-om.
      </p>
    </div>
    <div class="w-[300px] flex-shrink-0">
      <img src="{{ 'shoppy-x-ray.svg' | asset_url }}" width="300" height="300" class="w-full h-auto">
    </div>
  </div>
</div>

<div class="container grid gap-8 grid-cols-1 lg:grid-cols-3 mt-12">
  <div class="highlight flex flex-col h-full p-6 rounded-lg bg-[#eef3ff] text-[rgb(92,95,98)] leading-normal space-y-4">
    <h3 class="text-base text-[rgb(32,34,35)]">Ključni pojmovi</h3>
    <p class="flex-1">
      Shopify teme su paket datoteka predložaka, gradivnih blokova i pratećih resursa. Koristite ove blokove za
      izradu modularnih i prilagodljivih tema.
    </p>
    <p>
      {{
        'Saznaj više o ključnim pojmovima'
        | link_to: 'https://shopify.dev/docs/storefronts/themes/architecture', class: 'highlight-link'
      }}
    </p>
  </div>

  <div class="highlight flex flex-col h-full p-6 rounded-lg bg-[#eef3ff] text-[rgb(92,95,98)] leading-normal space-y-4">
    <h3 class="text-base text-[rgb(32,34,35)]">Liquid</h3>
    <p class="flex-1">
      Liquid jezik predložaka temelj je Shopify tema i koristi se za učitavanje dinamičkog sadržaja u trgovini.
      Proširite Liquid objekte za pohranu i prikaz prilagođenih podataka pomoću metafieldova.
    </p>
    <p>{{ 'Pogledaj Liquid dokumentaciju' | link_to: 'https://shopify.dev/docs/api/liquid', class: 'highlight-link' }}</p>
  </div>

  <div class="highlight flex flex-col h-full p-6 rounded-lg bg-[#eef3ff] text-[rgb(92,95,98)] leading-normal space-y-4">
    <h3 class="text-base text-[rgb(32,34,35)]">Najbolje prakse</h3>
    <p class="flex-1">
      Kako biste optimizirali razvoj teme, Shopify je definirao skup najboljih praksi koje možete pratiti pri razvoju
      teme i postavljanju alata i procesa.
    </p>
    <p>
      {{
        'Prati najbolje prakse'
        | link_to: 'https://shopify.dev/docs/storefronts/themes/best-practices', class: 'highlight-link'
      }}
    </p>
  </div>
</div>

{% stylesheet %}
  .welcome {
    display: grid;
    grid-template-columns: var(--content-grid);
    background-color: #f6f6f7;
    padding: 72px 0;
  }

  .welcome-content {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 24px;
  }

  .highlight-link {
    display: flex;
    width: fit-content;
    background-color: rgb(250, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset, rgba(255, 255, 255, 0.9) 0px 2px 0px 0px inset;
    border: 1px solid rgb(140, 145, 150);
    border-radius: 4px;
    color: rgb(92, 95, 98);
    padding: 3px 10px 5px;
    text-decoration: none;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
