{%- liquid
  assign has_before_after = false
  if product.metafields.custom.section_before_after_before_photo.value != blank
    assign has_before_after = true
  endif
-%}

{% if has_before_after %}
  <div class="{{ product_theme_class }} py-12 md:py-20 product-gradient-bg">
    <div class="container-small text-center  relative flex flex-col items-center gap-3">
      <p class="text-xs font-medium uppercase text-neutral-500 tracking-wider">
        {{ section.settings.eyebrow | default: 'Prije i poslije' }}
      </p>
      <h2 class="title-medium">
        {{ product.metafields.custom.section_before_after_title.value | default: 'Prije i poslije' }}
      </h2>

      {% if product.metafields.custom.section_before_after_description.value %}
        <p class="text-base opacity-70">{{ product.metafields.custom.section_before_after_description.value }}</p>
      {% endif %}

      <div class="grid grid-cols-2 gap-2 pt-12 max-w-2xl">
        <div class="flex flex-col relative rounded-xl w-full">
          {% render 'image',
            image: product.metafields.custom.section_before_after_before_photo.value,
            class: 'aspect-[3/5] md:aspect-[3/4] w-full h-full object-cover rounded-3xl'
          %}
          <p class="px-3 py-1 absolute bottom-3 left-3 rounded-2xl [background:var(--product-bg-secondary)] text-sm text-product-accent">
            Prije
          </p>
        </div>

        <div class="flex flex-col relative rounded-xl w-full">
          {% render 'image',
            image: product.metafields.custom.section_before_after_after_photo.value,
            class: 'aspect-[3/5] md:aspect-[3/4] w-full h-full object-cover rounded-3xl'
          %}
          <p class="px-3 py-1 absolute bottom-3 left-3 rounded-2xl [background:var(--product-bg-secondary)] text-sm text-product-accent">
            Poslije
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Prije i poslije proizvoda",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    }
  ],
  "presets": [
    {
      "name": "Prije i poslije proizvoda",
      "category": "Product"
    }
  ]
}
{% endschema %}
