{%- liquid
  assign benefits = product.metafields.custom.section_benefits_list.value
  assign benefits_title = product.metafields.custom.section_benefits_title.value
  assign benefits_description = product.metafields.custom.section_benefits_description.value
  assign benefits_image = product.metafields.custom.section_benefits_image.value | default: product.metafields.custom.section_benefits_image

  assign has_benefits = false
  if benefits != blank
    assign has_benefits = true
  endif

  assign has_description = false
  if benefits_description != blank
    assign has_description = true
  endif

  assign has_image = false
  if benefits_image != blank
    assign has_image = true
  endif

  assign show_section = false
  if has_benefits or has_image
    assign show_section = true
  endif
-%}

{% if show_section %}
  <div class="py-12 md:py-20">
    <div class="container flex gap-6 flex-col-reverse lg:flex-row md:gap-16">
      <div class="flex-1 flex flex-col py-6">
        <div class="pb-6">
          <h2 class="title-medium">{{ benefits_title | default: 'Product Benefits' }}</h2>
          {% if has_description %}
            <p class="mt-2 text-base text-foreground-secondary">{{ benefits_description }}</p>
          {% endif %}
        </div>

        {% if has_benefits %}
          <div class="mt-6 grid grid-cols-1 md:grid-cols-1 gap-1">
            {% for benefit in benefits %}
              <div class="border-b border-neutral-200 pb-6 mb-6  last:mb-0">
                {% if benefit.image_icon %}
                  <div class="mb-4 size-8">
                    {% render 'image', image: benefit.image_icon, class: 'w-full h-full object-cover' %}
                  </div>
                {% endif %}

                {% if benefit.title %}
                  <div class="text-base font-[550]">{{ benefit.title }}</div>
                {% endif %}

                {% if benefit.description != blank %}
                  <div class="text-base text-foreground-secondary">
                    {{ benefit.description }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% if has_image %}
        <div class="flex-shrink-0 lg:w-1/2">
          <div class="max-h-[800px] overflow-hidden rounded-2xl">
            {% render 'image', image: benefits_image, class: 'w-full rounded-2xl' %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Benefits",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Product Benefits",
      "category": "Product"
    }
  ]
}
{% endschema %}
