/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  height: 100%;
}

input,
textarea,
select {
  font: inherit;
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  font-family: "Red Hat Text", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  font-weight: 650;
  font-family: "Red Hat Display", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-weight: 550;
  font-family: "Red Hat Text", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: -0.01em;
  font-weight: 700;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

/** Theme styles below */
body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 1rem;
  line-height: 1.6;
}

/** Section layout utilities */

/**
 * Setup a grid that enables both full-width and constrained layouts
 * depending on the class of the child elements.
 *
 * By default, a minimum content margin is set on the left and right
 * sides of the section and the content is centered in the viewport to
 * not exceed the maximum page width.
 *
 * When a child element is given the `full-width` class, it will span
 * the entire viewport.
 */
.shopify-section {
  /* --content-width: min(
    calc(var(--page-width) - var(--page-margin) * 2),
    calc(100% - var(--page-margin) * 2)
  );
  --content-margin: minmax(var(--page-margin), 1fr);
  --content-grid: var(--content-margin) var(--content-width)
    var(--content-margin); */

  /* This is required to make <img> elements work as background images */
  position: relative;
  /* grid-template-columns: var(--content-grid);
  display: grid; */
  width: 100%;
}

/* Child elements, by default, are constrained to the central column of the grid. */
.shopify-section > * {
  grid-column: 2;
}

/* Child elements that use the full-width utility class span the entire viewport. */
.shopify-section > .full-width {
  grid-column: 1 / -1;
}

button {
  cursor: pointer;
}

/** Container utility class */
.container {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.container-small {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
}

.bg-green {
  background-color: var(--color-background-green);
}

.bg-pink {
  background-color: var(--color-background-pink);
}

.bg-blue {
  background-color: var(--color-background-blue);
}

.bg-gradient-boost {
  background: var(--color-gradient-boost);
}

.bg-gradient-exclusive {
  background: var(--color-gradient-exclusive);
}

.bg-gradient-nutriage {
  background: var(--color-gradient-nutriage);
}

.bg-gradient-recupera {
  background: var(--color-gradient-recupera);
}

.text-primary {
  color: var(--color-foreground-default);
}

.text-secondary {
  color: color-mix(in srgb, var(--color-foreground-default) 88%, transparent);
}

.text-accent {
  color: #4e71eb;
}

.text-green {
  color: var(--color-foreground-green);
}

.text-pink {
  color: var(--color-foreground-pink);
}

.text-blue {
  color: var(--color-foreground-blue);
}

.font-red-hat {
  font-family: "Red Hat Display", sans-serif;
}

.font-geist {
  font-family: "Red Hat Text", sans-serif;
}

button:disabled {
  opacity: 0.5;
  color: var(--color-neutral-700);
  cursor: not-allowed;
  background: var(--color-neutral-200);
}

button:disabled:hover {
  background: var(--color-neutral-200);
}

.button {
  border-radius: 9999px;
  text-decoration: none;
  padding: 0.5rem 1.35rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  font-family: "Red Hat Text", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 15px;
}

.text-xxs {
  font-size: 10px;
  line-height: 1.2;
}

.button-small {
  height: 32px;
  padding: 0 1rem;
}

.button-neutral {
  background: color-mix(in srgb, black 95%, transparent);
  color: white;
}

.button-boost {
  background: linear-gradient(var(--gradient-boost));
  color: color-mix(in srgb, black 98%, transparent);
  transition: background 0.3s ease;
}

.button-boost:hover {
  background: linear-gradient(86deg, #dbeae5 10%, #ede1d7 60%, #f6b4ca 120%);
}

.button-white {
  height: 32px;
  background: white;
  color: var(--color-foreground-default);
  border-radius: 20px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 500;
  font-family: "Red Hat Text", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 13px;
}

.card-outline {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners on quantity input used in cart drawer */
.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input {
  -moz-appearance: textfield;
}

:root {
  --color-background-default: #fff;
  --color-foreground-default: #333;
  --color-foreground-secondary: color-mix(
    in srgb,
    var(--color-foreground-default) 88%,
    transparent
  );
  /* --color-background-green: #dbeae5; */
  /* --color-foreground-green: #28483d; */
  /* --color-background-pink: #f8dce5; */
  /* --color-foreground-pink: #482832; */
  /* --color-background-blue: #ddeafd; */
  /* --color-foreground-blue: #283548; */

  /* Gradients */
  --gradient-boost: 25deg, #dbeae5 -1.58%, #ede1d7 40.21%, #f6b4ca 100%;
  --gradient-exclusive:
    110deg, rgba(251, 178, 171, 0.1) 22.89%, rgba(252, 194, 148, 0.2) 52.59%,
    rgba(251, 187, 89, 0.1) 84.04%;
  --gradient-nutriage:
    310deg, rgba(17, 189, 251, 1) 15%, rgba(33, 249, 150, 1) 85%;
  --gradient-recupera: 100deg, #a2eeff 3.17%, #b4ceff 35.34%, #d4b9ff 103.04%;

  /* Product colors */
  --product-bg: #f9f1f3; /* Section background */
  --product-bg-secondary: #f9f1f3;
  --product-accent: #783047; /* Accent color (can be gradient) */
  --product-accent-foreground: #f9f1f3; /* Accent text color (no gradients) */
  --product-button-background: #783047;
  --product-button-text-color: #f9f1f3;
  --annoucement-bar-bg: linear-gradient(var(--gradient-boost));
}

.product-theme-default {
  --product-bg: #f9f1f3;
  --product-bg-secondary: #f9f1f3;
  --product-accent: #783047;
  --product-accent-foreground: #f9f1f3;
  --product-button-background: #783047;
  --product-button-text-color: #f9f1f3;
  --annoucement-bar-bg: #f9f1f3;
}

.product-theme-boost {
  --product-bg: linear-gradient(
    25deg,
    #dbeae5 -1.58%,
    #ede1d7 40.21%,
    #f6b4ca 100%
  );
  --product-bg-secondary: #FDEEED;
  --product-accent: #783047;
  --product-accent-foreground: #f9f1f3;
  --product-button-background: linear-gradient(var(--gradient-boost));
  --product-button-text-color: #783047;
  --annoucement-bar-bg: linear-gradient(var(--gradient-boost));
}

.product-theme-recupera {
  --product-bg: linear-gradient(
    20deg,
    #a2eeff 3.17%,
    #b4ceff 35.34%,
    #d4b9ff 103.04%
  );
  --product-bg-secondary: linear-gradient(
    20deg,
    color-mix(in srgb, #a2eeff, transparent 70%) 3.17%,
    color-mix(in srgb, #b4ceff, transparent 70%) 35.34%,
    color-mix(in srgb, #d4b9ff, transparent 70%) 103.04%
  );
  --product-accent: #000;
  --product-accent-foreground: #f9f1f3;
  --product-button-background: linear-gradient(
    20deg,
    #a2eeff 3.17%,
    #b4ceff 35.34%,
    #d4b9ff 103.04%
  );
  --product-button-text-color: #000;
  --annoucement-bar-bg: linear-gradient(var(--gradient-recupera));
}

.product-theme-nutriage {
  --product-bg: linear-gradient(180deg, #dcf1d0 0%, #f3eddf 100%);
  --product-bg-secondary: #dcede7;
  --product-accent: #2a4631;
  --product-accent-foreground: #f9f1f3;
  --product-button-background: #2a4631;
  --product-button-text-color: #ecf4e1;
  --annoucement-bar-bg: linear-gradient(180deg, #dcf1d0 0%, #f3eddf 100%);
}

.product-gradient-bg {
  position: relative;
}

.product-gradient-bg::before {
  margin-top: -300px;
  margin-bottom: -200px;
  padding-top: 320px;
  padding-bottom: 240px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background:
    linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 1) 0%,
      hsla(0, 0%, 100%, 0.7) 11%,
      hsla(0, 0%, 100%, 0.47) 22%,
      hsla(0, 0%, 100%, 0.3) 33%,
      hsla(0, 0%, 100%, 0.17) 44%,
      hsla(0, 0%, 100%, 0.09) 50%,
      hsla(0, 0%, 100%, 0.17) 56%,
      hsla(0, 0%, 100%, 0.3) 67%,
      hsla(0, 0%, 100%, 0.47) 77%,
      hsla(0, 0%, 100%, 0.7) 89%,
      hsla(0, 0%, 100%, 1) 100%
    ),
    var(--product-bg-secondary);
}

.title-medium {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

@media (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container-small {
    padding-left: 24px;
    padding-right: 24px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .title-medium {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 700;
  }
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: var(--color-foreground-default);
  animation: dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .path {
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
